/* reset style */
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-size: max(1.3vw, 20px);
}

/* corpo da pagina */
body{
    width: 100vw;
    height: 100vh;
    color: black;
    overflow-x: hidden;
    background-color: #ffff;
}

/* header */
header{
    width: 100vw;
    height: 12vh;
    position: fixed;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
}
nav{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
nav > a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: max(1.3vw, 20px);
    text-decoration: none;
    color: black;
}